.admin li {
  list-style-type: none;
  display: inline;
  margin-left: 20px;
}

.admin {
  display: flex;
  justify-content: space-around;
  background-color: #27296d;
  margin-top: 1cm;
  margin-bottom: 1cm;

  margin-left: 200px;
}